.edit{
    margin-right:30px; 
}

.morebtn{
    text-align: center;
}

.modale{
    display : none;

}

#add{
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height : 35px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.modale-overlay-active{
    position : fixed; 
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0, 0.6);
    display : flex; 
    justify-content: center;
    align-items: center;
    z-index : 10;
}


.modale-active{
    display:block;
}

.charactername{
    margin-top: 20px;
}
.container{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
.content-inputs{
    width: 70%;
    height: auto;
    padding: 20px;  
    border-radius: 20px;
    margin-top: -1200px;
    animation-name: modal;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes modal {
    0% {margin-top: -1200px}
    100% {margin-top: 0}

}

.inputs{
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    width: max-content;
    color: white;
}

input[type="file"]{
    display:none;
}

label{
    width: 200px;
    height : 35px;
    padding-top: 5px; 
    text-align: center;
    border-radius: 5px;
    font-size : 15px !important;
    margin-top : 20px;
}

.select-file{
    display: flex;
    justify-content: center;
    align-items: center;
}

.createCharacterBtn{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top : 70px;
}
.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 20px;
}

.create-btn{
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height : 70px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size : 20px !important;
    cursor:pointer;
    
}
button{
    margin-top: 5px;
    width: 100px;
}

#target{
    margin-top: 100px;
}

.card-image{
    display: flex;
    justify-content: center;
    padding-top:50px;
}


.morebtn {
    width: max-content;
    position: absolute;
    top: 15px;
    right: 20px;
}

.charactername{
    margin-top: 25px;
}

img{
    width: 150px  !important; 
    height: 150px !important;
    border-radius: 5px !important;
}


.edit-delete-btns{
display: flex;
justify-content: center;
align-items: center;
}

.reveal-span{
    display: flex;
}
.card-title-reveal{
    margin: 0;
    display:inline-block;
}

